.login {
   margin-bottom: 40px;
}

.landing-page {
   background-image: url('https://i.ibb.co/kBWsxBb/business-g76b2e88ce-1280.jpg');
   background-size: 100%;
   background-repeat: no-repeat;  
}

.title {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  color: black;
  margin: auto;
}

.description {
   font-weight: 800;
   justify-content: center;
   margin-bottom: 30px;
}

.logo-on-title {
  height: 200px;
  margin-top: 50px;
  margin-left: 20px;
}

@media (max-width: 768px) {
   .title {
      display: block;
   }

   .logo-on-title {
      height: 125px;      
      margin-left: 0px;
   }
}