.landing-page {
   background-color: #a2e9b9;
   min-height: 400px;
   padding: 20px;
}

.plans-title {
   margin: 30px;
   margin-bottom: 50px;
}

.title {
display: flex;
background-color: white;
padding: 10px;
color: black;
margin: auto;
max-width: 600px;
}

.description {
   font-weight: 800;
}

.logo-on-title {
  height: 150px;
  margin-top: 30px;
}