.product-card {
   margin: 10px;
   background-color: white;
   padding: 20px;
   max-width: 100%;
   border: .5px solid darkgray;
}

.product-image {
    height: 80px;
    margin-bottom: 15px;
}

.product-header {
    font-size: x-small;
    margin-bottom: 10px;
}

.product-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black
}

.product-detail-image {
  max-width: 50%;
  align-self: center;
}

.product-detail-page {
padding: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}
