.blog-poster {
    background-color:rgb(25, 60, 61);
    color: white;   
    font-size: 20px;
    padding: 50px;
    padding-top: 50px;
    border: 2px solid rgb(5, 5, 5);
    margin: 40px;
}

.blog-page {  
   padding: 20px;
   max-width: 100%;
}

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;  
}

.blog-entry-menu {
    padding: 20px;
    border: 2px solid rgb(5, 5, 5);
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.recipe {
    border: 2px solid rgb(5, 5, 5);
    padding: 20px;
    margin: 20px;
}

.comments-container {
    align-items: left;
}

@media (max-width: 768px) {
    
    .blog-container {
      flex-direction: column;
    }

    .blog-entry-menu {
        display: none;
    }
    
}