.blog-entry {
    background-color:rgba(209, 244, 245, 0.527);
    color: rgb(25, 60, 61);   
    font-size: 20px;
    padding: 50px;
    padding-top: 50px;
    border: 2px solid rgb(5, 5, 5);
    margin: 10px;
    
}

.blog-page {  
   padding: 20px;
   max-width: 100%;
}

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;  
}

.blog-entry-menu {
    padding: 20px;
    border: 2px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.picnic {
    display: flex;
    border: 2px solid rgb(5, 5, 5);
    padding: 20px;
    margin: 20px;
}

.comments-container {
    display: flex;
    flex-direction: column;
}

.comments {
    width: 400px;
    height: 30px;
}

@media (max-width: 768px) {
    
    .blog-container {
      flex-direction: column;
    }

    .blog-entry-menu {
        display: none;
    }

    .blog-poster {
        margin: 10px;
    }
    
}