.nav-bar {
    width: 100%;
    height: 130px;
    display: flex;
}

.nav-bar .leftside {
    flex: 25%;
}

.nav-bar .rightside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .rightside .nav-bar-links {
    max-height: 130px;
}

.nav-bar .rightside .nav-bar-links .nav-link {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 30px;
    color: #1e1052;
}

.nav-bar .leftside {
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 40px;
}

.logo {
  height: 100%;
}

.mobile-menu-icon {
    display: none;
}

@media (max-width: 1024px) {
  .nav-bar .rightside .nav-bar-links .nav-link {
      font-size: 18px;
  }
}

@media (max-width: 768px) {
  .mobile-menu-icon {
       display: flex;
       margin-right: 20px;
  }

  .nav-bar .rightside .nav-bar-links {
    display: none;
}

  .nav-bar .rightside #hidden {  
     position: absolute;
     left: 0px;
     top: 130px;
     height: 700px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
  }

  .nav-bar .rightside #hidden .nav-bar-links {
    margin: 20px;
  }
}