.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-link {
    padding:0 25px;
    margin-bottom: 30px;
}



