.image-search-input {
    height: 50px;
    width: 300px;  
}

.image-search-bar {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.image-search-results {
    max-width: 100%;
}

.image-search-result-item {
  margin: 10px;
  max-width: 100%;
}

.image-search-icon {
  background-color:#a2e9b9;
  border: none;
}