.image-search-input {
    padding: 20px 50px;
}

.image-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.image-search-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    
}

.image-search-results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
}

.image-search-result-item {
  margin: 10px;
  max-width: 100%;
}

.image-search-icon {
  align-items: center;
  border: none;
  font-size: xx-large;
  background: none;
  margin-left: 10px;
  color: white;
}

.image-search-icon:active {
    margin-top: 5px;
}

.arrows {
  margin-top: 40px;
  margin-bottom: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: x-large;
    margin-left: 40px;
    margin-right: 40px;   
}

.arrow:hover {
  cursor: pointer;
}

.image-search-greeting {
    font-size: 22px;
    color: white; 
    text-shadow: 1px 1px black;   
    padding: 20px;
    margin: 20px;
    height: 330px;
    position: relative;
    top: 20px;
}

.image-search-prod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
    background-repeat: no-repeat;
    background-size: 120%;
    margin-top: 50px;
    margin-bottom: 40px; 
}

@media (max-width: 768px) {
    .arrow {
        margin-left: 20px;
        margin-right: 20px;
        font-size: xx-large;
    }

    .image-search-greeting {
        margin: 10px;
        font-size: medium;
        top: 10px;
    }

    .image-search-page {
      background-image: url('https://i.ibb.co/mb5hj1X/catcroppedvert.jpg');
      background-size: 140%;
      background-repeat: no-repeat;
    }

}