.shop-page {
  background-image: url('https://i.ibb.co/LrrvQpC/bicycle-g99adf0475-1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(32, 54, 54);
  padding: 30px;
}

.shop-poster {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.shop-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shop-searchbar {
  display: flex;
  align-items: center;
  height: 70px;
}

.shop-menu-icon {
  cursor: pointer;
  color: black;
  font-size: x-large;
}

.shop-search {
  margin-left: 10px;
  height: 2rem;
}

#hidden-menu {
  display: none;
}

.shop-sidebar-menu {
  display: flex;
  width: 100%;
}

#shown {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  background-color: white;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 10px;
}

.product {
  max-width: 100%;
}

.products-box {
  overflow: scroll;
}
