.shop-page {
  background-image: url('https://i.ibb.co/LrrvQpC/bicycle-g99adf0475-1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(32, 54, 54);
  padding: 30px;

}

.shop-poster {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.shop-menu-icon {
  cursor: pointer;
}

#hidden-menu {
  display: none;
}

#shown {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  background-color: white;
}

.products {
  max-width: 100%;
  overflow: scroll;
}

.product-box {
  display: flex;
  flex-direction: row;
  height: 100px;
  
}
.product {
  max-width: 100%;
}
