.shop-page {
  background-image: url('https://i.ibb.co/LrrvQpC/bicycle-g99adf0475-1920.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: cadetblue;
  padding: 30px;

}

.shop-poster {
  background-color: rgb(255, 255, 255, .65);
  padding: 20px;
  height: 500px;
  border: 1px solid black;
}