.image-search-input {
    height: 50px;
    width: 260px;
    background-color: whitesmoke;
}

.image-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 80px;
    
}

.image-search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}  

.image-search-results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    background-color: white;
}

.image-search-result-item {
  margin: 10px;
  max-width: 100%;
}

.image-search-icon {
  align-items: center;
  border: none;
  font-size: xx-large;
  background: none;
  margin-left: 10px;
  color: black;
}

.image-search-icon:active {
    margin-top: 5px;
}

.arrows {
  margin-top: 40px;
  margin-bottom: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: x-large;
    margin-left: 40px;
    margin-right: 40px; 
    color: black;
}

.arrow:hover {
  cursor: pointer;
}

.image-search-greeting {
    font-size: 22px;
    color: black;
    padding: 20px;
    margin: 20px;
    top: 20px;
}

.image-search-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    margin-top: 0px;
    margin-bottom: 0px; 
}

.image-search-prod-cat {
    display: flex;
    width: 100%;
    background-image: url('https://i.ibb.co/2nnyC7b/catcropd2.jpg');
    background-repeat: no-repeat;
    height: 380px;
}

@media (max-width: 768px) {

    .arrow {
        margin-left: 20px;
        margin-right: 20px;
        font-size: xx-large;
    }

    .image-search-greeting {
        margin: 10px;
        font-size: medium;        
    } 
    
    .image-search-prod-cat{
      background-image: url('https://i.ibb.co/mb5hj1X/catcroppedvert.jpg');
      max-width: 100%;
      background-size: 100%;
      background-position: bottom;
    }
    
}