.nav-bar {
    height: 150px;
    display: flex;
    background-color: white;
    max-width: 100%;
}

.nav-bar .rightside {
    display: flex;
    width: 75%;
    justify-content: right;
    align-items: center;
}

.nav-bar .rightside .nav-bar-links {
    
}

.nav-bar .rightside .nav-bar-links .nav-link {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 30px;
    color: #1e1052;
}

.nav-bar .leftside {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
  max-width: 65%;
  margin-top: 20px;
}

.mobile-menu-icon {
    display: none;
}

@media (max-width: 1024px) {
  .nav-bar .rightside .nav-bar-links .nav-link {
      font-size: 18px;
  }
}

@media (max-width: 768px) {

  .navbar {
    height: 80px;
  }

  .mobile-menu-icon {
       margin-right: 10px;
       font-size: x-large;
       display: flex;
       justify-content: end;
  }

  .nav-bar .rightside .nav-bar-links {
    display: none;
}

  .nav-bar .rightside #hidden {  
     position: absolute;
     left: 0px;
     top: 120px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
  }

  .nav-bar .rightside #hidden .nav-bar-links {
    background-color: white;
  }

  .nav-bar .rightside #hidden .nav-link {
    margin: 20px;
    background-color: white;
     
     max-width: 100%;
  }

  .logo {
    max-width: 90%;
    margin-left: 10px;
    margin-top: 10px;
  }
}