footer {    
    background-color: cadetblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-links {
  margin-top: 50px;
  margin-bottom: 32px;
}

.footer-info {
    display: flex;
    flex-direction: row;
}

.email {
    color:black;
}

.copyright {
    color: black;
}


