footer {
    background-color: cadetblue;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;   
}

.footer-info {
    display: flex;
    flex-direction: row;
}

.email {
    color:black;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.copyright {
    color: black;
    font-weight: 600;
    margin: 0;
}

