footer {
    background-color: cadetblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.footer-info {
    display: flex;
    flex-direction: row;
}

.email {
    color:black;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.copyright {
    color: black;
    font-weight: 600;
}

