.login-container {
    display: flex;
    flex-direction: row;   
    padding: 20px;
    margin: auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-image: url('https://i.ibb.co/JWTPT8k/network-ga5abf9043-1920.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
}

.sign-in {
    margin-top: 40px;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.sign-up {
    margin: auto;
    box-sizing: border-box;
}

.sign-in-button {
   font-size: x-large;
   margin-top: 20px;
}

.sign-up-button {
    font-size: x-large;
}

.sign-up-prod {
    color: white;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 30px;
    }
}