.login-container {
    display: flex;
    flex-direction: row;   
    padding: 20px;
    margin: auto;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://i.ibb.co/kBWsxBb/business-g76b2e88ce-1280.jpg');
    background-position: bottom;
    height: 400px;
}

.sign-in {
    margin-top: 40px;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.sign-up {
    margin: auto;
    box-sizing: border-box;
}

.sign-in-button {
   font-size: x-large;
   margin-top: 20px;
   color: #1e1052;
}

.sign-up-button {
    font-size: x-large;
    color: #1e1052;
}

.sign-up-prod {
    font-size: large;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 30px;
        background-size: 100%;
        background-image: url('https://i.ibb.co/yRqCVJN/businessjpg.jpg');
    }
}