.header {
    color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.navbar {
  background-color: #cacaca;  
  display: flex;  
  justify-content: space-evenly;
}

.item {
    background-color:darkslateblue;
    color:floralwhite;
    font-size: 1.5rem;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}

.item:hover {
  color:rgb(180, 180, 240);
  font-size:  1.55rem;
}

.nav .mobilenav {
  display: none;
}

@media (max-width: 990px) {
  .navbar {
    display: none;
  }

.nav .mobilenav {
    display: flex;
    background-color: cadetblue;
  }

  .menu {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }

  .nav .navlinks {
    background-color: cadetblue;
  }

  .item {
    display: flex;
    font-size: small;
    background-color: none;
  }

  .item:hover {
  color:rgb(180, 180, 240);
  font-size:  .9rem;
}
}